
header{
    background-image: url('../../../assets/images/bgHome.webp');
    background-size: cover;
    background-position: center center;
}
.bg-head{
        background-image: linear-gradient(to top, rgba(19, 23, 34,9.5) 0%, rgba(24, 18, 39, 0.7) 10%, rgba(0, 0, 0, 0) 100%);
}  