
<nav  class="navbar fixed-top navbar-expand-md "  [ngClass]="{'navbar-inverse': isScrolled||isNavbarCollapsed}">
    <div class="container-fluid">
      <a class=" navbar-brand " routerLink="/home" >
        <img src="./assets/images/JustWatchlogos.webp" class="logo-img" alt="">
        </a>  

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
         [attr.aria-expanded]="!isNavbarCollapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed" >
        <span class="navbar-toggler-icon" ></span>
      </button>
            <div class="collapse navbar-collapse" [class.show]="isNavbarCollapsed" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-auto mb-2 text-center">
            
            <ul class="navbar-nav mb-2 mb-md-0">

                @if (isLogin) {
                    <li class="nav-item">
                        <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li> }
            
                @if (isLogin) {
                    <li class="nav-item">
                        <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page" routerLink="/movies/1">Movies</a>
                </li> }
            
                @if (isLogin) {
                    <li class="nav-item">
                        <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page" routerLink="/tv/1">TV</a>
                </li> }
            
                @if (isLogin) {
                    <li class="nav-item">
                        <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page" routerLink="/gallary/1">People</a>
                </li> }
            
            </ul>
            @if (!isLogin) 
            {<li class="nav-item">
                <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page"  routerLink="/login">Login</a>
            </li>}
            
            @if (!isLogin) 
            {<li class="nav-item">
                <a (click)="isNavbarCollapsed = !isNavbarCollapsed" class="nav-link active" aria-current="page" routerLink="/register">Register</a>
            </li>}

            @if (isLogin) {
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" (click)="callLogOut()" routerLink="/">Logout</a>
            </li>}
         
        </ul>
      </div>
    </div>
  </nav>