<section id="loading" class="d-flex justify-content-center align-content-center">
  <span class="loader"></span>
</section>

<app-navbar></app-navbar>

  <router-outlet></router-outlet>

<div class="social-media d-flex justify-content-center mb-5 mt-3">
  <a href="https://www.facebook.com/profile.php?id=100010567268928" target="_blank"><i class="fab mx-4 text-gray fa-2x fa-facebook-f "></i></a>
  <a href="https://www.instagram.com/mo7ammed_3shour" target="_blank"><i class="fab mx-4 text-gray fa-2x fa-instagram"></i></a>
  <a href="https://wa.me/+0201554768079" target="_blank"><i class="fab mx-4 text-gray fa-2x fa-whatsapp"></i></a>
  <a href="mailto:m.ashour162000@gmail.com" target="_blank"><i class="fa fa-envelope mx-4 text-gray fa-2x"></i></a>
</div>
