<!-- <div class="notFound">
    <img src="./assets/images/error.webp" class="w-100 h-100" alt="">
</div> -->
<!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="d-flex align-items-center justify-content-center long">
    <div class="text-center row">
        <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <a routerLink="/home" class="btn btn-primary w-25 m-auto">Go Home</a>
        </div>

</div>
  