 <div class="container mt-5  pt-2 " >
    <div class="row d-flex justify-content-center">
          <div class="col-md-2 col-sm-3 col-4 m-2 card text-center cardEdit border-0 rounded-4 overflow-hidden" *ngFor="let movie of movies | paginate: { itemsPerPage: 20, currentPage: pageNumber ,totalItems: totalPages }" >
                  <a  [routerLink]="['/personDetail',movie.id]">
                    @if (movie.profile_path) {
                     <img [src]="imgPrefix+movie.profile_path" class="card-img-top" alt="person">
                    }
                    <div class="card-body position-relative">
                    <h6 class="card-title  ">{{movie.name}}</h6>
                    </div>
                  </a>
          </div>
                       <div class="d-flex justify-content-center align-items-center m-5">
                           <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
                       </div>  

    </div>
</div> 